@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@layer utilities {
  .square {
    aspect-ratio: 1 / 1;
  }
}

* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  padding: 0;
}